@use 'sass:math';
@use './functions' as*;

$w1200: 1200px;

$w1023: 1023px;

$w660: 660px;

$mobile-s: 480px;

@mixin w1200 {
  @media (max-width: $w1200) {
    @content;
  }
}

@mixin w1023 {
  @media (max-width: $w1023) {
    @content;
  }
}

@mixin w660 {
  @media (max-width: $w660) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > ($tablet)){
      @content
  }
};

