@use "../helpers" as *;

.footer {
  &__wrapper {
    padding-top: rem(60);
    display: flex;
    flex-direction: column;
    padding-bottom: rem(120);
    border-top: var(--border);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: rem(80);
  }

  &__item {
    width: fluid(100, 60);
  }
}
