@use "../helpers" as *;

.games {
  &__item {
    display: grid;
    grid-template-columns: 32% auto;
    justify-items: center;
    align-items: center;
    padding-bottom: rem(60);
    column-gap: fluid(40, 20);
    row-gap: rem(10);

    grid-template-areas: 
    "name button"
    "image description";

    @include w1023 {
      grid-template-columns: 100%;
      grid-template-areas:
      "name"
      "image"
      "button"
      "description";
    }
  }

  &__name {
    grid-area: name;
    padding-bottom: rem(20);
    color: var(--color-orange);
    font-size: fluid(32, 24);
  }

  &__image {
    grid-area: image;
  }

  &__button {
    grid-area: button;
    padding:fluid(12, 6) fluid(16, 8);
    border-radius: var(--border-radius);
    font-size: fluid(16, 12);

    &:hover {
      background-color: var(--color-orange);
      color: var(--color-white);
    }
  }

  &__description {
    grid-area: description;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    font-size: fluid(22, 14);
    transition: var(--transition);
  }

  &__description.is-open {
    max-height: rem(400);
  }
}
