@use "../helpers" as *;

.hero {
  display: grid;
  grid-template-columns: auto auto;
  gap: fluid(60, 10);
  justify-items: center;

  @include w660{
    grid-template-columns: 100%;
    text-align: center;
  }

  &__description {
    max-width: rem(900);
  }

  &__image {
    border-radius: 30px;
  }

  &__title {
    position: relative;
    padding-top: rem(20);
    font-size: fluid(64, 22);
  }

  &__about {
    padding-top: rem(24);
    font-size: fluid(28, 16);
  }

  &__interests {
    padding-top: rem(42);
    font-size: fluid(28, 16);
  }

  &__ellipse {
    position: absolute;
    left: 12%;
    top: 2%;

    & > svg {
      width: fluid(520, 240);
      height: fluid(325, 120);
    }
  }
}
