@use "../helpers" as *;

.projects {
  &__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &-description {
      font-size: fluid(26, 16);
      text-align: center;
    }

    &-link {
      color: var(--color-blue);
      text-decoration: underline;
      font-size: fluid(24, 16);
      padding-top: rem(20);
      padding-bottom: rem(16);
    }
  }
}
