@use "../helpers" as *;

.stack {
  display: flex;
  flex-direction: column;

  &__wrapper {
    padding: rem(60) 0;
  }

  &__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

    &-title {
      padding-bottom: rem(40);
      display: flex;
      justify-content: center;
      font-size: fluid(24, 18);
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(8);

        &>p{
            font-size: rem(18);
        }
    }
  }
}
