@use "../helpers" as *;

.swiper {
  max-width: 80%  !important;

  @include w1200 {
    max-width: 100%  !important;
  }

  &-button {
    --swiper-navigation-top-offset: 60%  !important; 
    width: fluid(44, 18)  !important;
    height: fluid(44, 18)  !important;
    color: var(--color-white-accent)  !important;

    @include w660 {
      display: none  !important;
    }
  }
}
