@use "../helpers" as *;

.tabs {
  &__buttons {
    display: flex;
    gap: rem(10);
  }
  &__button {
    border-radius: var(--border-radius);
    padding: rem(6) rem(12);
    font-size: fluid(16, 12);

    &:hover{
        scale: 1.15;
    }

    &.is-active {
        background: var(--color-orange);
        color: var(--color-white);
    }
  }

  &__content {
    &:not(.is-active) {
      display: none;
    }
  }
}
