@font-face {
  font-family: "RobotoSlab";
  src: url("./fonts/RobotoSlab.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rounded";
  src: url("./fonts/Rounded.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
